# Created by https://www.toptal.com/developers/gitignore/api/c,c++,cmake,linux,windows,vim,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=c,c++,cmake,linux,windows,vim,visualstudiocode

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### C++ ###
# Prerequisites

# Compiled Object files
*.slo

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai

# Executables

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### Vim ###
# Swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist
# Auto-generated tag files
tags
# Persistent undo
[._]*.un~

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/c,c++,cmake,linux,windows,vim,visualstudiocode

# build directory
build

# doxygen generated documentation
docs

# exported csv files
resources/Felix/2020-07-02_11.17.39_out.csv
resources/Felix/2020-07-02_12.50.00_out.csv
resources/Felix/2020-07-02_13.00.09_out.csv
resources/Marcelle/2020-07-02_14.59.59_out.csv
resources/Marcelle/2020-07-02_15.13.22_out.csv
resources/Marcelle/2020-07-02_15.31.36_out.csv
resources/Marcelle/2020-07-02_15.39.22_out.csv
resources/Mike/2020-07-02_14.07.33_out.csv
resources/Mike/2020-07-02_14.14.32_out.csv
resources/Mike/2020-07-02_14.20.28_out.csv
resources/Mike/2020-07-02_14.38.40_out.csv

# log file
log.txt

# automatically generated PNG images
resources/Felix/*.png
resources/Marcelle/*.png
resources/Mike/*.png

# .vscode directory
.vscode

# OpenOffice lock files
.~lock.*#

# .idea directory
ruby/.idea

# MinGW distribution
mingw_dist

# PyCharm generated files
python/mogasens_plotter/.idea
python/mogasens_plotter/venv

